<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/edit}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{lote.edit.headline}"/>
</head>
<span layout:fragment="editHeadline">
    <h1 th:text="#{lote.edit.headline}" class="flex-grow-1"></h1>
</span>
<span layout:fragment="editBack">
    <a th:href="@{/lotes}" th:text="#{edit.back}" class="btn btn-secondary"></a>
</span>
<span layout:fragment="editAudit">
    <a th:href="@{/lotes/audit/{id}(id=${lote.id})}" th:text="#{audit.list}"
       class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"></a>
</span>
<div layout:fragment="editGlobalErrors">
    <div th:replace="~{fragments/forms::globalErrors('lote')}"></div>
</div>
<div layout:fragment="editContent">
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='lote')}" ></div>
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='qtdEstoque')}" ></div>
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='dataStatus', inputClass='js-datetimepicker')}" ></div>
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='dataEntrada', inputClass='js-datetimepicker')}" ></div>
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='dataInicioAnalise', inputClass='js-datetimepicker')}" ></div>
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='dataLiberacao', inputClass='js-datetimepicker')}" ></div>
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='dataEnvioGarantia', inputClass='js-datetimepicker')}" ></div>
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='dataNecessidade', inputClass='js-datetimepicker')}" ></div>
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='dataValidade', inputClass='js-datetimepicker')}" ></div>
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='dataImpressao')}" ></div>
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='numeroDocumento')}" ></div>
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='complemento')}" ></div>
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='obs')}" ></div>
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='produto', type='select')}" ></div>
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='amostraTipo', type='select')}" ></div>
</div>
</html>
