<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/list}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{amostra.list.headline}"/>
</head>
<div class="row mb-2" layout:fragment="breadcrumb">
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a href="/index">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/laboratorio}" th:text="#{laboratorio.title}"></a></li>
        <li class="breadcrumb-item" th:text="#{amostra.amostra.label}"></li>
    </ol>
</div>
<span layout:fragment="listHeadline">
    <h2 th:text="#{amostra.list.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="createNew">
    <a th:href="@{/amostras/add}" th:text="#{amostra.list.createNew}"
       class="btn btn-success ms-2" sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER', 'POWERUSER')"/>
</span>
<span layout:fragment="listBackMenu">
    <a th:href="@{/laboratorio}" th:text="#{back.menu}" class="btn btn-secondary float-right"/>
</span>
<div layout:fragment="listErrors">
    <div th:if="${amostras.empty}" th:text="#{amostra.list.empty}"></div>
</div>
<span layout:fragment="listHeader">
    <th th:text="#{amostra.codigoAmostra.label}" scope="col" />
    <th th:text="#{amostra.lote.label}" scope="col" />
    <th th:text="#{produto.produto.label}" scope="col" />
    <th th:text="#{amostra.dataEntrada.label}" scope="col" />
    <th th:text="#{amostra.complemento.label}" scope="col" />
    <th th:text="#{amostra.amostraTipo.label}" scope="col" />
</span>
<span layout:fragment="listContent">
    <tr th:each="amostra : ${amostras}">
        <td th:text="${amostra.id}"/>
        <td th:text="${amostra.version}"/>
        <td th:text="${amostra.codigoAmostra}" />
        <td th:text="${amostra.loteNumero}" />
        <td th:text="${amostra.produtoCodigo} + ' - ' + ${amostra.produtoName}" />
        <td th:text="${#temporals.format(amostra.dataEntrada, 'dd/MM/yyyy HH:mm')}" />
        <td th:text="${amostra.complemento}" />
        <td th:text="${amostra.amostraTipoNome}" />
        <td>
            <div class="float-end text-nowrap">
                <a th:href="@{/amostras/details/{id}(id=${amostra.id})}"
                   class="btn btn-sm btn-primary"> <i class="fas fa-eye"></i> </a>
                <a th:href="@{/amostra/edit/{id}(id=${amostra.id})}"
                   th:text="#{amostra.list.edit}" class="btn btn-sm btn-info"
                   sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER')"/>
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                        th:attr="data-target='#remover_'+${amostra.id}" th:text="#{delete.btn}"
                        sec:authorize="hasAnyAuthority('ADMIN')"/>
                <div th:replace="~{fragments/modal :: modalDelete(field=${amostra.id}, link='amostras')}"></div>
            </div>
        </td>
    </tr>
</span>
<span layout:fragment="listAudit">
    <a th:href="@{/amostras/audit}" th:text="#{audit.list}" class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
</html>
