<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/add}">
<head>
    <title th:text="#{material.add.headline}"/>
</head>
<div class="row mb-2" layout:fragment="breadcrumb">
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a href="/index">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/estoque}" th:text="#{estoque.title}"></a></li>
        <li class="breadcrumb-item active" th:text="#{estoque.add.headline}"></li>
    </ol>
</div>
<span layout:fragment="addHeadline">
    <h1 th:text="#{estoque.add.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="addBack">
    <a th:href="@{/estoques}" th:text="#{add.back}" class="btn btn-secondary float-right"/>
</span>
<div layout:fragment="addGlobalErrors">
    <div th:replace="~{fragments/forms::globalErrors('estoque')}"></div>
</div>
<div layout:fragment="addContent">
    <div th:replace="~{fragments/forms::inputRow(object='estoque', field='movimentacaoTipo', type='select', required='required')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='estoque', field='material', type='select', required='required')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='estoque', field='setor', type='select', required='required')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='estoque', field='qtdMaterial', type='number', step='0.000001', required='required')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='estoque', field='valorUnitario', type='number', step='0.01', min='0.01')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='estoque', field='storageEndereco', type='select', required='required')}"></div>
</div>
</html>
