<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/edit}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{material.edit.headline}"/>
</head>
<div class="row mb-2" layout:fragment="breadcrumb">
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a href="/index">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/estoque}" th:text="#{estoque.title}"></a></li>
        <li class="breadcrumb-item"><a th:href="@{/materials}" th:text="#{material.material.label}"></a></li>
        <li class="breadcrumb-item active" th:text="#{material.edit.headline}"></li>
    </ol>
</div>
<span layout:fragment="editHeadline">
    <h1 th:text="#{material.edit.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="editBack">
    <a th:href="@{/materials}" th:text="#{edit.back}" class="btn btn-secondary float-right"/>
</span>
<span layout:fragment="editAudit">
    <a th:href="@{/materials/audit/{id}(id=${material.id})}" th:text="#{audit.list}"
       class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
<div layout:fragment="editGlobalErrors">
    <div th:replace="~{fragments/forms::globalErrors('material')}"></div>
</div>
<div layout:fragment="editContent">
    <div th:replace="~{fragments/forms::inputRow(object='material', field='ativo', type='checkbox')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='material', field='materialTipo', type='select', required='required')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='material', field='material', required='required')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='material', field='descricao', type='textarea', maxlength='2555')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='material', field='codigo', type='number')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='material', field='numeroIdentificacao', type='number')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='material', field='fornecedor', type='select')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='material', field='controlado', type='checkbox')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='material', field='partNumber', maxlength='255')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='material', field='casNumber', maxlength='255')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='material', field='fabricante', maxlength='255')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='material', field='marca', maxlength='255')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='material', field='modelo', maxlength='255')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='amostra', field='estoqueMin', type='number', step='0.000001')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='amostra', field='estoqueMax', type='number', step='0.000001')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='material', field='compraUnica', type='checkbox')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='amostra', field='unidade', type='select')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='material', field='obs', type='textarea', maxlength='255')}"></div>
</div>
</html>
