<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/list}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{usuario.list.headline}"/>
</head>
<div class="row mb-2" layout:fragment="breadcrumb">
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a href="/index">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/parameters}" th:text="#{parameters.title}"></a></li>
        <li class="breadcrumb-item" th:text="#{usuario.list.headline}"></li>
    </ol>
</div>
<span layout:fragment="listHeadline">
    <h2 th:text="#{usuario.list.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="createNew">
    <a th:href="@{/usuarios/add}" th:text="#{usuario.list.createNew}"
       class="btn btn-success ms-2" sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER', 'POWERUSER')"/>
</span>
<span layout:fragment="listBackMenu">
    <a th:href="@{/parameters}" th:text="#{back.menu}" class="btn btn-secondary float-right"/>
</span>
<div layout:fragment="listErrors">
    <div th:if="${usuarios.empty}" th:text="#{usuario.list.empty}"></div>
</div>
<span layout:fragment="listHeader">
    <th th:text="#{usuario.id.label}" scope="col"/>
    <th th:text="#{usuario.cep.label}" scope="col"/>
    <th th:text="#{usuario.changePass.label}" scope="col"/>
    <th th:text="#{usuario.cidade.label}" scope="col"/>
    <th th:text="#{usuario.cpf.label}" scope="col"/>
    <th th:text="#{usuario.detalhes.label}" scope="col"/>
    <th th:text="#{usuario.email.label}" scope="col"/>
    <th th:text="#{usuario.endereco.label}" scope="col"/>
</span>
<span layout:fragment="listContent">
    <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.id}"/>
        <td th:text="${usuario.cep}"/>
        <td th:text="${usuario.changePass}"/>
        <td th:text="${usuario.cidade}"/>
        <td th:text="${usuario.cpf}"/>
        <td th:text="${usuario.detalhes}"/>
        <td th:text="${usuario.email}"/>
        <td th:text="${usuario.endereco}"/>
        <td>
            <div class="float-end text-nowrap">
                <a th:href="@{/usuarios/edit/{id}(id=${usuario.id})}"
                   th:text="#{usuario.list.edit}" class="btn btn-sm btn-info"
                   sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER')"/>
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                        th:attr="data-target='#remover_'+${usuario.id}" th:text="#{delete.btn}"
                        sec:authorize="hasAnyAuthority('ADMIN')"/>
                <div th:replace="~{fragments/modal :: modalDelete(field=${usuario.id}, link='usuarios')}"></div>
            </div>
        </td>
    </tr>
</span>
<span layout:fragment="listAudit">
    <a th:href="@{/usuarios/audit}" th:text="#{audit.list}" class="btn btn-warning ms-2"
       sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
</html>
