<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="#{parameters.title}"/>
</head>
<body>

<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark" th:text="#{parameters.title}"></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
                        <li class="breadcrumb-item active"><span th:text="#{parameters.title}"></span></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="container-fluid">
        <section class="wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-widget">
                        <div class="card-footer p-0">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a th:href="@{/amostraTipos}" class="nav-link"
                                       th:text="#{amostraTipo.list.headline}"/>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                       th:href="@{/analises}" th:text="#{analise.list.headline}"/>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                       th:href="@{/analiseStatuss}" th:text="#{analiseStatus.list.headline}"
                                    />
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                       th:href="@{/analiseTecnicas}" th:text="#{analiseTecnica.list.headline}"
                                    />
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/analiseTipos}"
                                       th:text="#{analiseTipo.list.headline}"/>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/categoriaMetodologias}"
                                       th:text="#{categoriaMetodologia.list.headline}"/>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/celulas}" th:text="#{celula.list.headline}"/>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/celulaTipos}"
                                       th:text="#{celulaTipo.list.headline}"/>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/departamentos}"
                                       th:text="#{departamento.list.headline}"/>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/equipamentos}"
                                       th:text="#{equipamento.list.headline}"/>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/atividades}" th:text="#{atividade.list.headline}"/>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/equipamentoTipos}"
                                       th:text="#{equipamentoTipo.list.headline}"/>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/fabricantes}"
                                       th:text="#{fabricante.list.headline}"/>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/grandezas}" th:text="#{grandeza.list.headline}"/>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/amostraStatuss}"
                                       th:text="#{amostraStatus.list.headline}"/>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/produtos}" th:text="#{produto.list.headline}"/>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/produtoTipos}"
                                       th:text="#{produtoTipo.list.headline}"/>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/metodologias}"
                                       th:text="#{metodologia.list.headline}"/>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/metodologiaStatuss}"
                                       th:text="#{metodologiaStatus.list.headline}"/>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/metodologiaVersaos}"
                                       th:text="#{metodologiaVersao.list.headline}"/>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/reagentes}" th:text="#{reagente.list.headline}"/>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/setors}" th:text="#{setor.list.headline}"/>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/solucaoTipos}"
                                       th:text="#{solucaoTipo.list.headline}"/>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/turnos}" th:text="#{turno.list.headline}"/>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/unidadeMedidas}"
                                       th:text="#{unidadeMedida.list.headline}"/>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>
