<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/add}">
<head>
    <title th:text="#{analise.add.headline}"/>
</head>
<div class="row mb-2" layout:fragment="breadcrumb">
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a href="/index">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/parameters}" th:text="#{parameters.back}"></a></li>
        <li class="breadcrumb-item"><a th:href="@{/analiseTipos}" th:text="#{analiseTipo.analiseTipo.label}"></a></li>
        <li class="breadcrumb-item active" th:text="#{analiseTipo.add.headline}"></li>
    </ol>
</div>
<span layout:fragment="addHeadline">
    <h1 th:text="#{analise.add.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="addBack">
    <a th:href="@{/analises}" th:text="#{add.back}" class="btn btn-secondary float-right"/>
</span>
<div layout:fragment="addGlobalErrors">
    <div th:replace="~{fragments/forms::globalErrors('analise')}"/>
</div>
<div layout:fragment="addContent">
    <div th:replace="~{fragments/forms::inputRow(object='analise', field='analise')}"/>
    <div th:replace="~{fragments/forms::inputRow(object='analise', field='siglaAnalise')}"/>
    <div th:replace="~{fragments/forms::inputRow(object='analise', field='descricaoAnalise')}"/>
</div>
</html>
