<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/details}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{analise.details.headline}"/>
</head>
<div class="row mb-2" layout:fragment="breadcrumb">
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a href="/index">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/parameters}" th:text="#{parameters.title}"></a></li>
        <li class="breadcrumb-item"><a th:href="@{/analises}" th:text="#{analise.analise.label}"></a></li>
        <li class="breadcrumb-item active" th:text="#{analise.details.headline}"></li>
    </ol>
</div>
<span layout:fragment="detailsHeadline">
    <h1 th:text="#{analise.details.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="detailsBack">
    <a th:href="@{/analises}" th:text="#{details.back}" class="btn btn-secondary float-right"/>
</span>
<span layout:fragment="detailsAudit">
    <a th:href="@{/analises/audit/{id}(id=${analise.id})}" th:text="#{audit.list}"
       class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
<div layout:fragment="detailsContent">
    <div th:replace="~{fragments/forms::inputRow(object='analise', field='analiseTipo', readonly='readonly')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='analise', field='analise', readonly='readonly')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='analise', field='siglaAnalise', readonly='readonly')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='analise', field='descricaoAnalise', readonly='readonly')}"></div>
</div>
</html>
