<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/add}">
<head>
    <title th:text="#{atributo.add.headline}"/>
</head>
<div class="row mb-2" layout:fragment="breadcrumb">
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a href="/index">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/estoque}" th:text="#{estoque.title}"></a></li>
        <li class="breadcrumb-item"><a th:href="@{/atributos}" th:text="#{atributo.atributo.label}"></a></li>
        <li class="breadcrumb-item active" th:text="#{atributo.add.headline}"></li>
    </ol>
</div>
<span layout:fragment="addHeadline">
    <h1 th:text="#{atributo.add.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="addBack">
    <a th:href="@{/atributos}" th:text="#{add.back}" class="btn btn-secondary float-right"/>
</span>
<div layout:fragment="addGlobalErrors">
    <div th:replace="~{fragments/forms::globalErrors('atributo')}"></div>
</div>
<div layout:fragment="addContent">
    <div th:replace="~{fragments/forms::inputRow(object='atributo', field='categoria', type='select', required='required')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='atributo', field='atributo', required='required', maxlength='255')}" ></div>
    <div th:replace="~{fragments/forms::inputRow(object='atributo', field='valor', required='required', maxlength='255')}" ></div>
    <div th:replace="~{fragments/forms::inputRow(object='atributo', field='descricao', maxlength='255')}" ></div>
</div>
</html>
