<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/add}">
<head>
    <title th:text="#{equipamento.add.headline}"/>
</head>
<div class="row mb-2" layout:fragment="breadcrumb">
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a href="/index">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/parameters}" th:text="#{parameters.title}"></a></li>
        <li class="breadcrumb-item"><a th:href="@{/equipamentos}" th:text="#{equipamento.equipamento.label}"></a></li>
        <li class="breadcrumb-item active" th:text="#{equipamento.add.headline}"></li>
    </ol>
</div>
<span layout:fragment="addHeadline">
    <h1 th:text="#{equipamento.add.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="addBack">
    <a th:href="@{/equipamentos}" th:text="#{add.back}" class="btn btn-secondary float-right"/>
</span>
<div layout:fragment="addGlobalErrors">
    <div th:replace="~{fragments/forms::globalErrors('equipamento')}"></div>
</div>
<div layout:fragment="addContent">
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='descricao')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='tag')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='fabricante')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='marca')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='modelo')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='ultimaCalibracao', type='datetime-local')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='proximaCalibracao', type='datetime-local')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='ativo', type='checkbox')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='obs')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='imagem', type='file', accept='image/*')}" ></div>
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='serialNumber')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='tipo', type='select')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='setor', type='select')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='equipamento', field='grandeza', type='select')}"></div>
</div>
</html>
