<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/list}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{unidadeMedida.list.headline}"/>
</head>
<div class="row mb-2" layout:fragment="breadcrumb">
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a href="/index">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/parameters}" th:text="#{parameters.title}"></a></li>
        <li class="breadcrumb-item" th:text="#{unidadeMedida.unidadeMedida.label}"></li>
    </ol>
</div>
<span layout:fragment="listHeadline">
    <h2 th:text="#{unidadeMedida.list.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="createNew">
    <a th:href="@{/unidadeMedidas/add}" th:text="#{unidadeMedida.list.createNew}"
       class="btn btn-success ms-2" sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER', 'POWERUSER')"/>
</span>
<span layout:fragment="listBackMenu">
    <a th:href="@{/parameters}" th:text="#{back.menu}" class="btn btn-secondary float-right"/>
</span>
<div layout:fragment="listErrors">
    <div th:if="${unidadeMedidas.empty}" th:text="#{unidadeMedida.list.empty}"></div>
</div>
<span layout:fragment="listHeader">
    <th th:text="#{unidadeMedida.unidade.label}" scope="col" />
    <th th:text="#{unidadeMedida.grandeza.label}" scope="col" />
</span>
<span layout:fragment="listContent">
    <tr th:each="unidadeMedida : ${unidadeMedidas}">
        <td th:text="${unidadeMedida.id}"/>
        <td th:text="${unidadeMedida.version}"/>
        <td th:text="${unidadeMedida.unidade}" />
        <td th:text="${unidadeMedida.grandeza}" />
        <td>
            <div class="float-end text-nowrap">
                <a th:href="@{/unidadeMedidas/edit/{id}(id=${unidadeMedida.id})}"
                   th:text="#{unidadeMedida.list.edit}" class="btn btn-sm btn-info"
                   sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER')"/>
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                        th:attr="data-target='#remover_'+${unidadeMedida.id}" th:text="#{delete.btn}"
                        sec:authorize="hasAnyAuthority('ADMIN')"/>
                <div th:replace="~{fragments/modal :: modalDelete(field=${unidadeMedida.id}, link='unidadeMedidas')}"></div>
            </div>
        </td>
    </tr>
</span>
<span layout:fragment="listAudit">
    <a th:href="@{/unidadeMedidas/audit}" th:text="#{audit.list}" class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
</html>


