<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/add}">
<head>
    <title th:text="#{produto.add.headline}"/>
</head>
<div class="row mb-2" layout:fragment="breadcrumb">
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a href="/index">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/parameters}" th:text="#{parameters.title}"></a></li>
        <li class="breadcrumb-item"><a th:href="@{/produtos}" th:text="#{produto.produto.label}"></a></li>
        <li class="breadcrumb-item active" th:text="#{produto.add.headline}"></li>
    </ol>
</div>
<span layout:fragment="addHeadline">
    <h1 th:text="#{produto.add.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="addBack">
    <a th:href="@{/produtos}" th:text="#{add.back}" class="btn btn-secondary float-right"/>
</span>
<div layout:fragment="addGlobalErrors">
    <div th:replace="~{fragments/forms::globalErrors('produto')}"></div>
</div>
<div layout:fragment="addContent">
    <div th:replace="~{fragments/forms::inputRow(object='produto', field='controleEspecial', type='checkbox')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='produto', field='fiscalizado')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='produto', field='codigo', type='number')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='produto', field='produto')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='produto', field='tipoProduto', type='select')}"></div>
</div>
</html>
