<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/edit}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{setor.edit.headline}"/>
</head>
<div class="row mb-2" layout:fragment="breadcrumb">
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a href="/index">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/parameters}" th:text="#{parameters.title}"></a></li>
        <li class="breadcrumb-item"><a th:href="@{/setors}" th:text="#{setor.setor.label}"></a></li>
        <li class="breadcrumb-item active" th:text="#{setor.edit.headline}"></li>
    </ol>
</div>
<span layout:fragment="editHeadline">
    <h1 th:text="#{setor.edit.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="editBack">
    <a th:href="@{/setors}" th:text="#{edit.back}" class="btn btn-secondary float-right"/>
</span>
<span layout:fragment="editAudit">
    <a th:href="@{/setors/audit/{id}(id=${setor.id})}" th:text="#{audit.list}"
       class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
<div layout:fragment="editGlobalErrors">
    <div th:replace="~{fragments/forms::globalErrors('setor')}"/>
</div>
<div layout:fragment="editContent">
    <div th:replace="~{fragments/forms::inputRow(object='setor', field='setor')}" />
    <div th:replace="~{fragments/forms::inputRow(object='setor', field='siglaSetor')}" />
    <div th:replace="~{fragments/forms::inputRow(object='setor', field='descricao')}" />
    <div th:replace="~{fragments/forms::inputRow(object='setor', field='tipo')}" />
    <div th:replace="~{fragments/forms::inputRow(object='setor', field='departamento', type='select')}" />
</div>
</html>
