<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/details}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{storageEndereco.storage.label}"/>
</head>
<div class="row mb-2" layout:fragment="breadcrumb">
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a href="/index">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/estoque}" th:text="#{estoque.title}"></a></li>
        <li class="breadcrumb-item"><a th:href="@{/storageEnderecos}" th:text="#{storageEndereco.storage.label}"></a></li>
        <li class="breadcrumb-item active" th:text="#{storageEndereco.details.headline}"></li>
    </ol>
</div>
<span layout:fragment="detailsHeadline">
    <h1 th:text="#{storageEndereco.details.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="detailsBack">
    <a th:href="@{/storageEnderecos}" th:text="#{details.back}" class="btn btn-secondary float-right"/>
</span>
<span layout:fragment="detailsAudit">
    <a th:href="@{/storageEnderecos/audit/{id}(id=${storageEndereco.id})}" th:text="#{audit.list}"
       class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
<div layout:fragment="detailsContent">
    <div th:replace="~{fragments/forms::inputRow(object='storageEndereco', field='storage', readonly='readonly')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='storageEndereco', field='endereco', readonly='readonly')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='storageEndereco', field='obs', readonly='readonly')}"></div>
</div>
</html>
