<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/details}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{lote.lote.label}"/>
</head>
<div class="row mb-2" layout:fragment="breadcrumb">
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a href="/index">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/laboratorio}" th:text="#{laboratorio.title}"></a></li>
        <li class="breadcrumb-item"><a th:href="@{/lotes}" th:text="#{lote.list.headline}"></a></li>
        <li class="breadcrumb-item active" th:text="#{lote.details.headline}"></li>
    </ol>
</div>
<span layout:fragment="detailsHeadline">
    <h1 th:text="#{lote.details.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="detailsBack">
    <a th:href="@{/lotes}" th:text="#{details.back}" class="btn btn-secondary float-right"/>
</span>
<span layout:fragment="detailsAudit">
    <a th:href="@{/lotes/audit/{id}(id=${lote.id})}" th:text="#{audit.list}"
       class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
<div layout:fragment="detailsContent">
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='lote', readonly='readonly')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='material', readonly='readonly')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='cliente', readonly='readonly')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='tamanhoLote', type='number', step='0.000001', readonly='readonly')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='unidade', readonly='readonly')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='dataFabricacao', type='date', readonly='readonly')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='dataValidade', type='date', readonly='readonly')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='localFabricacao', readonly='readonly')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='lote', field='obs', readonly='readonly')}"></div>
</div>
</html>
