<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <style>
        .dataTables_filter {
            text-align: right;
        }

        .dataTables_filter input {
            width: 300px;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <div class="container-fluid">
            <div layout:fragment="breadcrumb"></div>
        </div>
    </section>
    <div class="container-fluid">
        <section class="wrapper">
            <div class="card card-warning card-outline">
                <div class="card-header">
                    <h5 class="card-title d-flex">
                        <i class="bx bx-check font-medium-5 pl-25 pr-75"></i>
                        <span layout:fragment="auditHeadline"></span>
                    </h5>
                    <div class="card-tools">
                        <ul class="nav nav-pills ml-auto">
                            <li class="nav-item">
                                <span layout:fragment="auditBack"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body mt-3">
                    <div class="dataTable-wrapper table-responsive">
                        <table class="table table-striped table-hover table-sm align-middle" id="tableAudit"
                               sec:authorize="hasAnyAuthority('ADMIN')">
                            <thead>
                            <tr>
                                <th th:text="#{id.label}" scope="col"/>
                                <th th:text="#{audit.version}" scope="col"/>
                                <th th:text="#{audit.tipo}" scope="col"/>
                                <!-- FIX-->
                                <span layout:fragment="auditHeads"/>
                                <!-- FIX-->
                                <th>Usuário</th>
                                <th>Data</th>
                                <th>Ip</th>
                                <th>Motivo</th>
                                <th>Revisao</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="a:${audits}">
                                <td th:text="${a.getEntidade().getId()}"></td>
                                <td th:text="${a.getEntidade().getVersion()}"></td>
                                <td th:text="${a.getRevisao().getRevType()}"></td>
                                <!-- FIX-->
                                <span layout:fragment="auditBody"/>
                                <!-- FIX-->
                                <td th:text="${a.getRevisao().getUserName()}"></td>
                                <td th:text="${#dates.format(a.getRevisao().getRevisionDate(), 'dd/MM/yyyy HH:mm:ss')}"></td>
                                <td th:text="${a.getRevisao().getIp()}"></td>
                                <td th:text="${a.getRevisao().getMotivo()}"></td>
                                <td th:text="${a.getRevisao().getId()}"></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th th:text="#{id.label}" scope="col"/>
                                <th th:text="#{audit.version}" scope="col"/>
                                <th th:text="#{audit.tipo}" scope="col"/>
                                <!-- FIX-->
                                <span layout:fragment="auditHeads"/>
                                <!-- FIX-->
                                <th>Usuário</th>
                                <th>Data</th>
                                <th>Ip</th>
                                <th>Motivo</th>
                                <th>Revisao</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
<span layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#tableAudit').DataTable({
                "dom": '<"top"lf>rt<"bottom"B>pi<"clear">',
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "responsive": false,
                "autoWidth": true,
                "language": {
                    search: "Filtrar : ",
                    lengthMenu: "Exibir por página _MENU_",
                    zeroRecords: "Nada encontrado - desculpe",
                    info: "Mostrando a página _PAGE_ de _PAGES_",
                    infoEmpty: "Não há registros disponíveis",
                    infoFiltered: "(filtrado do total de _MAX_ registros)"
                },
                "buttons": [
                    { extend: 'copy'},
                    { extend: 'csv'},
                    { extend: 'excel'},
                    { extend: 'pdf'},
                    { extend: 'print'}],
                "select": true,
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var search = $(`<input class="form-control form-control-sm" type="text">`)
                            .appendTo($(column.footer()).empty())
                            .on('change input', function () {
                                var val = $(this).val()
                                column
                                    .search(val ? val : '', true, false)
                                    .draw();
                            });
                    });
                }
            }).buttons().container().appendTo('#tableAudit_wrapper .col-md-6:eq(0)');
            $('.dataTables_filter label').addClass('input-group input-group-sm');
            $('.dataTables_paginate').addClass('pagination justify-content-center');
        });
    </script>
</span>
</html>
