<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
<div layout:fragment="content">
    <section class="content-header">
        <div class="container-fluid">
            <div layout:fragment="breadcrumb"></div>
        </div>
    </section>
    <div class="container-fluid">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="card-title d-flex">
                    <i class="bx bx-check font-medium-5 pl-25 pr-75"></i>
                    <span layout:fragment="detailsHeadline"></span>
                </h5>
                <div class="card-tools">
                    <ul class="nav nav-pills ml-auto">
                        <li class="nav-item">
                            <span layout:fragment="detailsAudit"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <form method="get" enctype="multipart/form-data">
                <div id="detailsDiv" class="card-body">
                    <div class="main-content container-fluid" layout:fragment="detailsContent"></div>
                </div>
                <div class="card-footer" >
                    <span layout:fragment="detailsBack" ></span>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<span layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function () {
            $('textarea').each(function () {
                this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
            }).on("input", function () {
                this.style.height = 0;
                this.style.height = (this.scrollHeight) + "px";
            });
        });
        $(function () {
            $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });
        })
    </script>
</span>
</html>
