<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/add}">
<head>
    <title th:text="#{storageEndereco.add.headline}"/>
</head>
<span layout:fragment="addHeadline">
    <h1 th:text="#{storageEndereco.add.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="addBack">
    <a th:href="@{/colunaVagas}" th:text="#{add.back}" class="btn btn-secondary float-right"/>
</span>
<div layout:fragment="addGlobalErrors">
    <div th:replace="~{fragments/forms::globalErrors('storageEndereco')}"/>
</div>
<div layout:fragment="addContent">
    <<div th:replace="~{fragments/forms::inputRow(object='storageEndereco', field='vaga', type='number')}" />
    <div th:replace="~{fragments/forms::inputRow(object='storageEndereco', field='obs')}" />
    <div th:replace="~{fragments/forms::inputRow(object='storageEndereco', field='storage', type='select')}" />
</div>
</html>
