<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/audit}">
<head>
    <title th:text="#{cliente.list.headline} + ' ' + Auditoria"/>
</head>
<div class="row mb-2" layout:fragment="breadcrumb">
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a href="/index">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/templates/parameters}" th:text="#{parameters.title}"></a></li>
        <li class="breadcrumb-item"><a th:href="@{/clientes}" th:text="#{cliente.cliente.label}"></a></li>
        <li class="breadcrumb-item active" th:text="#{cliente.list.headline}+ ' ' + Auditoria"></li>
    </ol>
</div>
<span layout:fragment="auditHeadline">
    <h2 th:text="#{cliente.list.headline} + ' ' + Auditoria" class="flex-grow-1"/>
</span>
<span layout:fragment="auditBack">
    <a th:href="@{/clientes}" th:text="#{edit.back}" class="btn btn-secondary float-right"/>
</span>
<span layout:fragment="auditHeads">
    <th th:text="#{fabricante.fabricante.label}" scope="col" />
    <th th:text="#{fabricante.descricao.label}" scope="col" />
    <th th:text="#{fabricante.obs.label}" scope="col" />
</span>
<span layout:fragment="auditBody">
    <td th:text="${a.getEntidade().getFabricante()}"></td>
    <td th:text="${a.getEntidade().getDescricao()}"></td>
    <td th:text="${a.getEntidade().getObs()}"></td>
</span>
</html>

