<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/edit}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{storageTipo.edit.headline}"/>
</head>
<div class="row mb-2" layout:fragment="breadcrumb">
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a href="/index">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/estoque}" th:text="#{estoque.title}"></a></li>
        <li class="breadcrumb-item"><a th:href="@{/storageTipos}" th:text="#{storageTipo.list.headline}"></a></li>
        <li class="breadcrumb-item active" th:text="#{storageTipo.edit.headline}"></li>
    </ol>
</div>
<span layout:fragment="editHeadline">
    <h1 th:text="#{storageTipo.edit.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="editBack">
    <a th:href="@{/storageTipos}" th:text="#{edit.back}" class="btn btn-secondary float-right"/>
</span>
<span layout:fragment="editAudit">
    <a th:href="@{/storageTipos/audit/{id}(id=${storageTipo.id})}" th:text="#{audit.list}"
       class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
<div layout:fragment="editGlobalErrors">
    <div th:replace="~{fragments/forms::globalErrors('storageTipo')}"></div>
</div>
<div layout:fragment="editContent">
    <div th:replace="~{fragments/forms::inputRow(object='storageTipo', field='tipo', required='required')}" ></div>
    <div th:replace="~{fragments/forms::inputRow(object='storageTipo', field='condicoesArmazenamento', type='textarea', maxlength='255')}" ></div>
</div>
</html>
