<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/list}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{storageTipo.list.headline}"/>
</head>
<div class="row mb-2" layout:fragment="breadcrumb">
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a href="/index">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/estoque}" th:text="#{estoque.title}"></a></li>
        <li class="breadcrumb-item"><a th:href="@{/storageTipos}" th:text="#{storageTipo.list.headline}"></a></li>
        <li class="breadcrumb-item active" th:text="#{storageTipo.list.headline}"></li>
    </ol>
</div>
<span layout:fragment="listHeadline">
    <h2 th:text="#{storageTipo.list.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="createNew">
    <a th:href="@{/storageTipos/add}" th:text="#{storageTipo.list.createNew}"
       class="btn btn-success ms-2" sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER', 'POWERUSER')"/>
</span>
<span layout:fragment="listBackMenu">
    <a th:href="@{/estoque}" th:text="#{back.menu}" class="btn btn-secondary float-right"/>
</span>
<div layout:fragment="listErrors">
    <div th:if="${storageTipos.empty}" th:text="#{storageTipo.list.empty}"/>
    <div th:if="${!storageTipos.empty}" class="table-responsive"></div>
</div>
<span layout:fragment="listHeader">
    <th th:text="#{storageTipo.tipo.label}" scope="col"/>
    <th th:text="#{storageTipo.condicoesArmazenamento.label}" scope="col"/>
</span>
<span layout:fragment="listContent">
    <tr th:each="storageTipo : ${storageTipos}">
        <td th:text="${storageTipo.id}"/>
        <td th:text="${storageTipo.version}"/>
        <td th:text="${storageTipo.tipo}"/>
        <td th:text="${storageTipo.condicoesArmazenamento}"/>
        <td>
            <div class="float-end text-nowrap">
                <a th:href="@{/storageTipos/details/{id}(id=${storageTipo.id})}"
                   class="btn btn-sm btn-primary"> <i class="fas fa-eye"></i> </a>
                <a th:href="@{/storageTipos/edit/{id}(id=${storageTipo.id})}"
                   th:text="#{storageTipo.list.edit}" class="btn btn-sm btn-info"
                   sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER')"/>
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                        th:attr="data-target='#remover_'+${storageTipo.id}" th:text="#{delete.btn}"
                        sec:authorize="hasAnyAuthority('ADMIN')"/>
                <div th:replace="~{fragments/modal :: modalDelete(field=${storageTipo.id}, link='storageTipos')}"></div>
            </div>
        </td>
    </tr>
</span>
<span layout:fragment="listAudit">
    <a th:href="@{/storageTipos/audit}" th:text="#{audit.list}" class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
</html>
