<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/list}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="#{storage.list.headline}"/>
</head>
<span layout:fragment="listHeadline">
    <h2 th:text="#{storage.list.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="createNew">
    <a th:href="@{/colunaStorages/add}" th:text="#{storage.list.createNew}"
       class="btn btn-success ms-2" sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER', 'POWERUSER')"/>
</span>
<span layout:fragment="listBackMenu">
    <a th:href="@{/parameters}" th:text="#{back.menu}" class="btn btn-secondary float-right"/>
</span>
<div layout:fragment="listErrors">
    <div th:if="${colunaStorages.empty}" th:text="#{storage.list.empty}"/>
    <div th:if="${!colunaStorages.empty}" class="table-responsive"/>
</div>
<span layout:fragment="listHeader">
    <th th:text="#{storage.codigo.label}" scope="col" />
    <th th:text="#{storage.obs.label}" scope="col" />
    <th th:text="#{storage.setor.label}" scope="col" />
    <th th:text="#{storage.tipo.label}" scope="col" />
</span>
<span layout:fragment="listContent">
    <tr th:each="storage : ${colunaStorages}">
        <td th:text="${storage.id}" />
        <td th:text="${storage.version}"/>
        <td th:text="${storage.codigo}" />
        <td th:text="${storage.obs}" />
        <td th:text="${storage.setor}" />
        <td th:text="${storage.tipo}" />
        <td>
            <div class="float-end text-nowrap">
                <a th:href="@{/colunaStorages/edit/{id}(id=${storage.id})}"
                   th:text="#{storage.list.edit}" class="btn btn-sm btn-info"
                   sec:authorize="hasAnyAuthority('ADMIN', 'MASTERUSER')"/>
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                        th:attr="data-target='#remover_'+${storage.id}" th:text="#{delete.btn}"
                        sec:authorize="hasAnyAuthority('ADMIN')"/>
                <div th:replace="~{fragments/modal :: modalDelete(field=${storage.id}, link='colunaStorages')}"></div>
            </div>
        </td>
    </tr>
</span>
<span layout:fragment="listAudit">
    <a th:href="@{/colunaStorages/audit}" th:text="#{audit.list}" class="btn btn-warning ms-2" sec:authorize="hasAnyAuthority('ADMIN')"/>
</span>
</html>
