<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/audit}">
<head>
    <title th:text="#{materialTipo.list.headline} + ' ' + Auditoria"/>
</head>
<div class="row mb-2" layout:fragment="breadcrumb">
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a href="/index">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/parameters}" th:text="#{parameters.title}"></a></li>
        <li class="breadcrumb-item"><a th:href="@{/materialTipos}" th:text="#{materialTipo.materialTipo.label}"></a></li>
        <li class="breadcrumb-item active" th:text="#{materialTipo.list.headline}+ ' ' + Auditoria"></li>
    </ol>
</div>
<span layout:fragment="auditHeadline">
    <h2 th:text="#{materialTipo.list.headline} + ' ' + Auditoria" class="flex-grow-1"/>
</span>
<span layout:fragment="auditBack">
    <a th:href="@{/materialTipos}" th:text="#{edit.back}" class="btn btn-secondary float-right"/>
</span>
<span layout:fragment="auditHeads">
    <th th:text="#{materialTipo.sigla.label}" scope="col" />
    <th th:text="#{materialTipo.tipo.label}" scope="col" />
</span>
<span layout:fragment="auditBody">
    <td th:text="${a.getEntidade().getSigla()}"></td>
    <td th:text="${a.getEntidade().getTipo()}"></td>
</span>
</html>

