<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/edit}">
<head>
    <title th:text="#{fornecedor.edit.headline}"/>
</head>
<div class="row mb-2" layout:fragment="breadcrumb">
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a href="/index">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/estoque}" th:text="#{estoque.title}"></a></li>
        <li class="breadcrumb-item"><a th:href="@{/fornecedors}" th:text="#{fornecedor.fornecedor.label}"></a></li>
        <li class="breadcrumb-item active" th:text="#{fornecedor.edit.headline}"></li>
    </ol>
</div>
<span layout:fragment="editHeadline">
    <h1 th:text="#{fornecedor.edit.headline}" class="flex-grow-1"/>
</span>
<span layout:fragment="editBack">
    <a th:href="@{/fornecedors}" th:text="#{edit.back}" class="btn btn-secondary float-right"/>
</span>
<div layout:fragment="editGlobalErrors">
    <div th:replace="~{fragments/forms::globalErrors('fornecedor')}"></div>
</div>
<div layout:fragment="editContent">
    <div th:replace="~{fragments/forms::inputRow(object='fornecedor', field='fornecedor', required='required')}" ></div>
    <div th:replace="~{fragments/forms::inputRow(object='fornecedor', field='cnpj', maxlength='18', required='required')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='fornecedor', field='descricao', type='textarea')}"></div>
    <div th:replace="~{fragments/forms::inputRow(object='fornecedor', field='obs', maxlength='255')}"></div>
</div>
</html>
